# Preprocess for visualization

---
## Import

In [2]:
import pandas as pd
import re
import numpy as np
from datetime import datetime
import time
import datetime
from collections import Counter

---

## Preprocess

In [3]:
df = pd.read_json('D:\\Grab\Bootcamp\\careerviet.json')
df.head(5)

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\42nvt\AppData\Local\Temp\ipykernel_13148\478065797.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_json('D:\\Grab\Bootcamp\\careerviet.json')

,job_title,job_url,company_name,company_url,company_img_url,location,post_date,due_date,fields,salary,experience,position,benefits,job_description,requirements,requirements_language,en_requirements,en_fields,job_site
0,"Nhân viên Kỹ thuật (Thiết kế, Nhảy size Rập Mẫu)",https://careerviet.vn/vi/tim-viec-lam/nhan-vie...,"Công ty TNHH, Liên Doanh Vĩnh Hưng (TMI Việt Nam)",https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Hồ Chí Minh],1712854800,1715360400,[Dệt may / Da giày / Thời trang],11 Tr - 15 Tr VND,2 - 5 Năm,Nhân viên,"[ Laptop, Chế độ bảo hiểm, Du Lịch, Phụ cấp...",\nMô tả Công việc\nTask 1:\n- Theo dõi m...,\nYêu Cầu Công Việc\n- Tốt nghiệp Ca...,vi,Job requirements\r\n- Graduated from college o...,[Textiles],CareerViet
1,Phiên dịch tiếng Trung,https://careerviet.vn/vi/tim-viec-lam/phien-di...,CÔNG TY TNHH VIETTA INDUSTRIES (VN),https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Tây Ninh],1712854800,1715360400,"[Hành chính / Thư ký, Biên phiên dịch, Sản xuấ...",Cạnh tranh,None,Nhân viên,"[ Chế độ bảo hiểm, Du Lịch, Chế độ thưởng, ...",\nMô tả Công việc\n- Phiên dịch hiện ...,\nYêu Cầu Công Việc\n- Tiếng Trung gia...,vi,Job requirements\r\n- Good Chinese communicati...,"[Office Administration, Others, Manufacturing]",CareerViet
2,Chủ nhiệm lớp Anh ngữ (Ocean Edu THANH HÀ),https://careerviet.vn/vi/tim-viec-lam/chu-nhie...,Công Ty CP Giáo Dục Đại Dương,https://careerviet.vn/vi/nha-tuyen-dung/cong-t...,https://images.careerviet.vn/employer_folders/...,[Hải Dương],1712854800,1715360400,"[Bán lẻ / Bán sỉ, Dịch vụ khách hàng, Giáo dục...",11 Tr - 14 Tr VND,1 - 2 Năm,Nhân viên,None,"\nMô tả Công việc\nTrợ giảng, hỗ tro...",\nYêu Cầu Công Việc\n- Lương khởi đi...,vi,Job requirements\r\n- Starting salary 11 - 12 ...,"[Retail/Consumer, Customer Service, Education]",CareerViet
3,Xuân Mai (Hà Nội) - Trưởng phòng KHDN,https://careerviet.vn/vi/tim-viec-lam/xuan-mai...,LPBank,https://careerviet.vn/vi/nha-tuyen-dung/lpbank...,https://images.careerviet.vn/employer_folders/...,[Hà Nội],1712854800,1715360400,"[Bất động sản, Bán hàng / Kinh doanh, Kế toán ...",Cạnh tranh,5 - 20 Năm,Quản lý,"[ Chế độ bảo hiểm, Du Lịch, Chế độ thưởng, ...",\nMô tả Công việc\n1. Công tác quản ly...,\nYêu Cầu Công Việc\nTrình độ: Tốt ...,vi,Job requirements\r\nLevel: Graduated from univ...,"[Real Estate, Business, Accounting/Auditing]",CareerViet
4,Đồng Tháp - Giám đốc PGD Thanh Bình,https://careerviet.vn/vi/tim-viec-lam/dong-tha...,LPBank,https://careerviet.vn/vi/nha-tuyen-dung/lpbank...,https://images.careerviet.vn/employer_folders/...,[Đồng Tháp],1712854800,1715360400,"[Bán hàng / Kinh doanh, Nhân sự, Ngân hàng]",Cạnh tranh,Trên 4 Năm,Giám đốc,"[ Chế độ bảo hiểm, Du Lịch, Chế độ thưởng, ...",\nMô tả Công việc\nCông tác quản lý đ...,\nYêu Cầu Công Việc\nTrình độ học va...,vi,Job requirements\r\nEducation level: Graduated...,"[Business, Human Resources, Banking/Finance]",CareerViet

I think i am going to use these columns: 'location', 'post_date', 'experience', 'salary', 'en_fields'

In [4]:
df[['location', 'post_date', 'experience', 'salary', 'en_fields']]

,location,post_date,experience,salary,en_fields
0,[Hồ Chí Minh],1712854800,2 - 5 Năm,11 Tr - 15 Tr VND,[Textiles]
1,[Tây Ninh],1712854800,None,Cạnh tranh,"[Office Administration, Others, Manufacturing]"
2,[Hải Dương],1712854800,1 - 2 Năm,11 Tr - 14 Tr VND,"[Retail/Consumer, Customer Service, Education]"
3,[Hà Nội],1712854800,5 - 20 Năm,Cạnh tranh,"[Real Estate, Business, Accounting/Auditing]"
4,[Đồng Tháp],1712854800,Trên 4 Năm,Cạnh tranh,"[Business, Human Resources, Banking/Finance]"
...,...,...,...,...,...
14902,[Hà Nội],1714323600,Trên 1 Năm,12 Tr - 15 Tr VND,"[Design, Arts/Media/Printing/Publishing, Others]"
14903,[Hà Nội],1714323600,Trên 2 Năm,15 Tr - 20 Tr VND,"[Others, Real Estate]"
14904,[Hồ Chí Minh],1714323600,3 - 5 Năm,20 Tr - 25 Tr VND,"[Business, Banking/Finance, Information Techno..."
14905,[Hà Nội],1714323600,6 - 7 Năm,Cạnh tranh,"[Accounting/Auditing, Architecture/Construction]"
14906,[Hà Nội],1714323600,Trên 1 Năm,Cạnh tranh,"[Office Administration, Business, Human Resour..."

Let's work with salary first, it is string, now i want it to be number

### 1. Salary

In [5]:
df['salary'].unique()

array(['11 Tr - 15 Tr VND', 'Cạnh tranh', '11 Tr - 14 Tr VND',
       '10 Tr - 12 Tr VND', '6 Tr - 12 Tr VND', '8 Tr - 15 Tr VND',
       'Trên  9 Tr VND', '6,5 Tr - 8 Tr VND', '10 Tr - 15 Tr VND',
       '18 Tr - 20 Tr VND', 'Lên đến  17 Tr VND', '12 Tr - 15 Tr VND',
       'Trên  12 Tr VND', '5 Tr - 8 Tr VND', '7 Tr - 10 Tr VND',
       '14 Tr - 16 Tr VND', '25 Tr - 50 Tr VND', '25 Tr - 35 Tr VND',
       '7 Tr - 9 Tr VND', '8 Tr - 20 Tr VND', '4,8 Tr - 12 Tr VND',
       '10 Tr - 50 Tr VND', '10 Tr - 20 Tr VND', '12 Tr - 18 Tr VND',
       '9 Tr - 15 Tr VND', '8 Tr - 12 Tr VND', '30 Tr - 60 Tr VND',
       '15 Tr - 18 Tr VND', '12 Tr - 17 Tr VND', '6 Tr - 30 Tr VND',
       '10 Tr - 18 Tr VND', 'Trên  20,000,000 VND', '10 Tr - 14 Tr VND',
       '9 Tr - 11 Tr VND', '9 Tr - 10 Tr VND', '5 Tr - 30 Tr VND',
       '14 Tr - 25 Tr VND', 'Lên đến  1,200 USD', '15 Tr - 25 Tr VND',
       '15,000,000 - 35,000,000 VND', '6 Tr - 9 Tr VND',
       '10 Tr - 25 Tr VND', 'Trên  3 Tr VND', '50 Tr - 200 Tr VND',
       '18 Tr - 25 Tr VND', '700 - 1,500 USD', '20 Tr - 30 Tr VND',
       '20 Tr - 25 Tr VND', '7,5 Tr - 10 Tr VND', '9 Tr - 13 Tr VND',
       '6,5 Tr - 9 Tr VND', '25 Tr - 56 Tr VND', '18 Tr - 22 Tr VND',
       '15 Tr - 20 Tr VND', '5,5 Tr - 6 Tr VND', '7 Tr - 15 Tr VND',
       '25 Tr - 40 Tr VND', '30 Tr - 40 Tr VND', '5,000 - 12,000 USD',
       '15 Tr - 17 Tr VND', '9 Tr - 12 Tr VND', 'Lên đến  15 Tr VND',
       '6 Tr - 8 Tr VND', 'Trên  7,5 Tr VND', '8 Tr - 10 Tr VND',
       '11 Tr - 13 Tr VND', 'Trên  20 Tr VND', 'Lên đến  30,000,000 VND',
       '13 Tr - 18 Tr VND', 'Lên đến  4 Tr VND', '700 - 2,000 USD',
       '8 Tr - 23 Tr VND', '16 Tr - 18 Tr VND', '12 Tr - 13 Tr VND',
       '12 Tr - 16 Tr VND', '15 Tr - 50 Tr VND', '1,500 - 1,500 USD',
       '9,000,000 - 13,000,000 VND', '10 Tr - 30 Tr VND',
       '1,200 - 1,700 USD', 'Trên  10 Tr VND', '15 Tr - 30 Tr VND',
       '12 Tr - 14 Tr VND', '20 Tr - 35 Tr VND', '8 Tr - 25 Tr VND',
       '500 - 1,000 USD', 'Trên  1,500 USD', 'Trên  2,500 USD',
       '8,500,000 - 14,000,000 VND', '13 Tr - 15 Tr VND',
       '5,5 Tr - 7 Tr VND', 'Trên  15 Tr VND', '8,8 Tr - 11 Tr VND',
       '40 Tr - 60 Tr VND', '17 Tr - 25 Tr VND', '20 Tr - 40 Tr VND',
       '17 Tr - 22 Tr VND', '16 Tr - 22 Tr VND', '8 Tr - 8,5 Tr VND',
       'Trên  8 Tr VND', '8 Tr - 9 Tr VND', '900 - 1,000 USD',
       '7 Tr - 20 Tr VND', '15 Tr - 15 Tr VND', '10 Tr - 13,5 Tr VND',
       '9,5 Tr - 10 Tr VND', '14 Tr - 18 Tr VND', '5 Tr - 15 Tr VND',
       '7 Tr - 12 Tr VND', 'Trên  18 Tr VND', '7 Tr - 8 Tr VND',
       '13 Tr - 19 Tr VND', '400 - 600 USD', 'Trên  13 Tr VND',
       '15 Tr - 40 Tr VND', '27 Tr - 35 Tr VND', '17 Tr - 20 Tr VND',
       '14 Tr - 17 Tr VND', '10 Tr - 13 Tr VND', '10 Tr - 35 Tr VND',
       'Trên  14 Tr VND', '18 Tr - 18 Tr VND', '900 - 1,100 USD',
       '24 Tr - 26 Tr VND', '1,200 - 1,500 USD', '13 Tr - 17 Tr VND',
       '11 Tr - 18 Tr VND', '1,000 - 2,000 USD', '18 Tr - 33 Tr VND',
       '13 Tr - 20 Tr VND', '8,5 Tr - 10 Tr VND', '15 Tr - 22 Tr VND',
       '12 Tr - 20 Tr VND', '15,000,000 - 25,000,000 VND',
       '25,000,000 - 40,000,000 VND', '7,5 Tr - 15 Tr VND',
       '13 Tr - 16 Tr VND', '3 Tr - 4 Tr VND',
       '9,000,000 - 12,000,000 VND', '14 Tr - 20 Tr VND',
       '8 Tr - 13 Tr VND', '20 Tr - 50 Tr VND', '13,5 Tr - 18 Tr VND',
       'Trên  7 Tr VND', '1 Tr - 3 Tr VND', '8 Tr - 14 Tr VND',
       '10 Tr - 11 Tr VND', '35 Tr - 60 Tr VND', '3,000 - 4,000 USD',
       '18 Tr - 30 Tr VND', 'Trên  30 Tr VND', '6 Tr - 7,5 Tr VND',
       '5 Tr - 9 Tr VND', '12 Tr - 30 Tr VND', '16 Tr - 20 Tr VND',
       'Trên  6 Tr VND', '8 Tr - 30 Tr VND', 'Lên đến  14 Tr VND',
       '800 - 1,000 USD', '12 Tr - 22 Tr VND', '20 Tr - 22 Tr VND',
       '18 Tr - 23 Tr VND', '5 Tr - 7 Tr VND', '12 Tr - 25 Tr VND',
       '9 Tr - 17 Tr VND', '27 Tr - 30 Tr VND', '7 Tr - 7,9 Tr VND',
       '16 Tr - 30 Tr VND', '9 Tr - 14 Tr VND', '25 Tr - 32 Tr VND',
       '15 Tr - 19 Tr VND', 'Trên  1,000 USD', 'Trên  2,000 USD',
       '1,500 - 3,000 USD', '20 Tr - 24 Tr VND', '6 Tr - 7 Tr VND',
       '8 Tr - 18 Tr VND', 'Lên đến  12 Tr VND', '28 Tr - 30 Tr VND',
       '25 Tr - 30 Tr VND', '20 Tr - 70 Tr VND', '15 Tr - 70 Tr VND',
       '45 Tr - 90 Tr VND', '12 Tr - 35 Tr VND', '11 Tr - 35 Tr VND',
       '5,5 Tr - 6,5 Tr VND', '45 Tr - 55 Tr VND', '20 Tr - 23,5 Tr VND',
       '4,5 Tr - 12 Tr VND', '9 Tr - 20 Tr VND', '5 Tr - 6 Tr VND',
       '8 Tr - 11 Tr VND', '5,5 Tr - 7,5 Tr VND', '800 - 1,200 USD',
       '19,8 Tr - 29,7 Tr VND', '23 Tr - 30 Tr VND', '50 Tr - 65 Tr VND',
       '1,300 - 2,000 USD', '6 Tr - 10 Tr VND', '7,5 Tr - 8 Tr VND',
       '26 Tr - 30 Tr VND', '24 Tr - 48 Tr VND', '2,000 - 2,300 USD',
       '25 Tr - 27 Tr VND', 'Lên đến  2 Tr VND', '9 Tr - 30 Tr VND',
       '18 Tr - 35 Tr VND', '6,7 Tr - 8 Tr VND',
       '8,000,000 - 10,000,000 VND', '18 Tr - 19 Tr VND',
       '7 Tr - 25 Tr VND', '20,000,000 - 25,000,000 VND',
       '15 Tr - 35 Tr VND', '22 Tr - 25 Tr VND', '500 - 750 USD',
       '12 Tr - 40 Tr VND', '38 Tr - 50 Tr VND', '30 Tr - 180 Tr VND',
       'Trên  40 Tr VND', '5,8 Tr - 35 Tr VND', '7,5 Tr - 9 Tr VND',
       '6 Tr - 15 Tr VND', '11 Tr - 16 Tr VND', '8 Tr - 16 Tr VND',
       '400 - 1,500 USD', 'Trên  22 Tr VND', '6,1 Tr - 7,2 Tr VND',
       '18 Tr - 40 Tr VND', 'Lên đến  25 Tr VND', '7 Tr - 11 Tr VND',
       '18 Tr - 24 Tr VND', '1,200 - 1,900 USD', '7,5 Tr - 12 Tr VND',
       'Lên đến  9 Tr VND', '9,5 Tr - 12 Tr VND', '7,8 Tr - 15 Tr VND',
       '35 Tr - 50 Tr VND', '2 Tr - 3 Tr VND', '7 Tr - 30 Tr VND',
       '15 Tr - 21 Tr VND', '1,000 - 1,500 USD', '1,500 - 2,500 USD',
       '600 - 2,000 USD', 'Trên  25 Tr VND', '9,9 Tr - 11,5 Tr VND',
       '35 Tr - 40 Tr VND', '600 - 1,500 USD', '7 Tr - 8,5 Tr VND',
       '8,5 Tr - 17 Tr VND', '6 Tr - 20 Tr VND', '6 Tr - 9,5 Tr VND',
       '6 Tr - 11 Tr VND', '9,5 Tr - 17 Tr VND', '15 Tr - 23 Tr VND',
       '30 Tr - 35 Tr VND', '8 Tr - 8 Tr VND', '9 Tr - 16 Tr VND',
       '10 Tr - 10,5 Tr VND', '7 Tr - 7 Tr VND', '6,9 Tr - 13 Tr VND',
       '11 Tr - 12 Tr VND', 'Trên  6,5 Tr VND', '10 Tr - 16 Tr VND',
       '8,5 Tr - 12 Tr VND', '13 Tr - 30 Tr VND', '3 Tr - 5 Tr VND',
       '3 Tr - 4,5 Tr VND', '1 Tr - 2 Tr VND', '15 Tr - 27 Tr VND',
       '7,9 Tr - 10 Tr VND', '13 Tr - 26 Tr VND', '30 Tr - 50 Tr VND',
       '22 Tr - 30 Tr VND', '85 Tr - 115 Tr VND', '15 Tr - 16 Tr VND',
       '12 Tr - 24 Tr VND', '1,000 - 1,600 USD', '2,000 - 4,000 USD',
       '3 Tr - 6 Tr VND', '6 Tr - 13 Tr VND', '6 Tr - 14 Tr VND',
       'Lên đến  8 Tr VND', '500 - 1,500 USD', '14 Tr - 14 Tr VND',
       '22 Tr - 23,2 Tr VND', '60 Tr - 70 Tr VND', '14 Tr - 15 Tr VND',
       'Trên  50 Tr VND', '16 Tr - 24 Tr VND', '16 Tr - 25 Tr VND',
       '500 - 700 USD', '250 - 500 USD', '10 Tr - 24 Tr VND',
       '450 - 580 USD', '11 Tr - 12,6 Tr VND', '10,5 Tr - 11,5 Tr VND',
       '10 Tr - 40 Tr VND', '7,5 Tr - 8,5 Tr VND', '8 Tr - 40 Tr VND',
       '7 Tr - 18 Tr VND', '550 - 800 USD', '9 Tr - 25 Tr VND',
       '4,5 Tr - 7 Tr VND', '17 Tr - 24 Tr VND', '30 Tr - 45 Tr VND',
       '18 Tr - 26 Tr VND', '9,5 Tr - 25 Tr VND', '17 Tr - 23 Tr VND',
       '7,5 Tr - 9,5 Tr VND', '6,5 Tr - 7 Tr VND', '12 Tr - 15,9 Tr VND',
       '1,000 - 1,200 USD', 'Lên đến  30 Tr VND', '700 - 1,300 USD',
       '14 Tr - 30 Tr VND', '24 Tr - 31 Tr VND',
       '7,000,000 - 30,000,000 VND', '45 Tr - 60 Tr VND',
       '13 Tr - 14 Tr VND', '5,500,000 - 7,000,000 VND',
       '11 Tr - 22 Tr VND', 'Lên đến  20 Tr VND', 'Trên  550 USD',
       'Trên  11 Tr VND', '17 Tr - 18 Tr VND', '1 Tr - 1 Tr VND',
       '4 Tr - 10 Tr VND', 'Trên  27 Tr VND', '2,000 - 2,500 USD',
       '550 - 1,200 USD', '40 Tr - 45 Tr VND', '70 Tr - 80 Tr VND',
       '80 Tr - 150 Tr VND', '12 Tr - 23 Tr VND', '8,5 Tr - 15 Tr VND',
       '4,5 Tr - 6 Tr VND', '10 Tr - 22 Tr VND', 'Trên  17 Tr VND',
       '10 Tr - 17 Tr VND', '700 - 1,200 USD', '2,5 Tr - 4,5 Tr VND',
       '400 - 700 USD', '7 Tr - 7,5 Tr VND', '10,5 Tr - 14 Tr VND',
       '7,6 Tr - 9 Tr VND', '14 Tr - 21 Tr VND', '24 Tr - 33 Tr VND',
       '17 Tr - 26 Tr VND', '8 Tr - 17 Tr VND', '800,000 - 1 Tr VND',
       'Lên đến  13 Tr VND', '17 Tr - 30 Tr VND', 'Lên đến  35 Tr VND',
       '7 Tr - 13 Tr VND', '1,200 - 1,600 USD', 'Lên đến  1 Tr VND',
       'Trên  9,5 Tr VND', '4,000 - 5,000 USD', '8,5 Tr - 11 Tr VND',
       'Lên đến  1,000 USD', '25,000,000 - 35,000,000 VND',
       '9 Tr - 19 Tr VND', '20 Tr - 23 Tr VND', '7,4 Tr - 15 Tr VND',
       '6,3 Tr - 7,8 Tr VND', '8 Tr - 50 Tr VND', '30 Tr - 48 Tr VND',
       '30,000,000 - 40,000,000 VND', '12,000,000 - 15,000,000 VND',
       '60 Tr - 80 Tr VND', '14 Tr - 22 Tr VND', '5 Tr - 25 Tr VND',
       '8,4 Tr - 11,5 Tr VND', '14 Tr - 24 Tr VND', '600 - 1,000 USD',
       '9 Tr - 18 Tr VND', '28 Tr - 35 Tr VND', '3 Tr - 7 Tr VND',
       '6 Tr - 6,5 Tr VND', '5 Tr - 5 Tr VND', '20 Tr - 27 Tr VND',
       '50 Tr - 80 Tr VND', '9 Tr - 24 Tr VND',
       '18,000,000 - 22,000,000 VND', '15 Tr - 18,5 Tr VND',
       '6,5 Tr - 7,5 Tr VND', '700 - 1,000 USD', '500 - 1,200 USD',
       '25 Tr - 42 Tr VND', '10 Tr - 19 Tr VND', '6,5 Tr - 8,5 Tr VND',
       '35 Tr - 55 Tr VND', '8,5 Tr - 18 Tr VND', '55 Tr - 60 Tr VND',
       '850 - 1,000 USD', '10,000,000 - 12,000,000 VND',
       'Trên  16 Tr VND', '1 Tr - 1,5 Tr VND', '1 Tr - 1,2 Tr VND',
       '23 Tr - 35 Tr VND', '9,000,000 - 11,000,000 VND',
       'Lên đến  50 Tr VND', '50 Tr - 70 Tr VND', '13 Tr - 25 Tr VND',
       '6,2 Tr - 10 Tr VND', '7 Tr - 17 Tr VND', '8,4 Tr - 17 Tr VND',
       '13,000,000 - 15,000,000 VND', 'Lên đến  3,000 USD',
       'Lên đến  2,500 USD', 'Lên đến  1,500 USD', '6,2 Tr - 18 Tr VND',
       '4,5 Tr - 15 Tr VND', '1,5 Tr - 5 Tr VND', '4,5 Tr - 5,5 Tr VND',
       '4,5 Tr - 5 Tr VND', '4 Tr - 5 Tr VND', '40 Tr - 50 Tr VND',
       '15 Tr - 24,5 Tr VND', '16 Tr - 19 Tr VND',
       '16,000,000 - 18,000,000 VND', '7,5 Tr - 20 Tr VND',
       '1 Tr - 15 Tr VND', '7,5 Tr - 11 Tr VND', '20 - 30 Tr VND',
       '2 Tr - 5 Tr VND', '13,2 Tr - 16 Tr VND', '25 Tr - 45 Tr VND',
       '7 Tr - 50 Tr VND', '12,000,000 - 20,000,000 VND',
       '15,000,000 - 50,000,000 VND', '65 Tr - 75 Tr VND',
       '12 Tr - 19 Tr VND', '3 Tr - 15 Tr VND', '3 Tr - 12 Tr VND',
       '9,5 Tr - 11 Tr VND', '15 Tr - 80 Tr VND', 'Trên  2,5 Tr VND',
       '22 Tr - 28 Tr VND', '8 - 10 VND', 'Lên đến  60 Tr VND',
       '2,800 - 3,500 USD', '25 Tr - 25 Tr VND', '28 Tr - 40 Tr VND',
       '12 Tr - 21 Tr VND', '8,8 Tr - 12 Tr VND',
       '20,000,000 - 30,000,000 VND', '5 Tr - 10 Tr VND',
       '26 Tr - 40 Tr VND', '15,000,000 - 18,000,000 VND',
       '10 Tr - 10 Tr VND', '40 Tr - 70 Tr VND', '700,000 - 25 Tr VND',
       '5 Tr - 12 Tr VND', '300 - 500 USD', '6,2 Tr - 8 Tr VND',
       '80 Tr - 100 Tr VND', '800 - 1,500 USD', '14,5 Tr - 30 Tr VND',
       '60 Tr - 90 Tr VND', '20 Tr - 28 Tr VND', '45 Tr - 50 Tr VND',
       '4,8 Tr - 7,2 Tr VND', '2 Tr - 4 Tr VND', '11 Tr - 14,5 Tr VND',
       '7,5 Tr - 13 Tr VND', '11 Tr - 20 Tr VND', '8 Tr - 9,5 Tr VND',
       '425 - 485 USD', '8,000,000 - 12,000,000 VND', '1,300 - 1,800 USD',
       '4 Tr - 6 Tr VND', '10 - 17 VND', '16 Tr - 32 Tr VND',
       '35 Tr - 45 Tr VND', 'Lên đến  2,000 USD', '9 Tr - 9 Tr VND',
       '28 Tr - 32 Tr VND', '11 Tr - 24 Tr VND', '17 Tr - 19 Tr VND',
       '49,6 Tr - 74,4 Tr VND', '13,5 Tr - 14 Tr VND',
       '1,000 - 1,400 USD', '24 Tr - 36 Tr VND', '800 - 1,400 USD',
       '11,2 Tr - 13,3 Tr VND', '7,000,000 - 9,000,000 VND',
       '2,000 - 3,500 USD', 'Trên  10,100,000 VND', '400 - 1,200 USD',
       '600 - 800 USD', '20 Tr - 26 Tr VND', 'Trên  2,200 USD',
       '22 Tr - 27 Tr VND', '22,9 Tr - 23,1 Tr VND', '650 - 850 USD',
       '7 Tr - 24 Tr VND', '11 Tr - 17 Tr VND', 'Trên  30 VND',
       '8,5 Tr - 20 Tr VND', '8 Tr - 19 Tr VND', '12 Tr - 38 Tr VND',
       '10,5 Tr - 15 Tr VND', '6 Tr - 30,0 Tr VND', '1.000 - 3.000 USD',
       '1,100 - 1,700 USD', '450 - 600 USD', '500 - 800 USD',
       '12,4 Tr - 16,9 Tr VND', '6,5 Tr - 10 Tr VND', '20 Tr - 33 Tr VND',
       '7,4 Tr - 10 Tr VND', '23 Tr - 28 Tr VND',
       '8,000,000 - 15,000,000 VND', '25 Tr - 29 Tr VND',
       '7,8 Tr - 18 Tr VND', '24 Tr - 28 Tr VND', '26 Tr - 26 Tr VND',
       '850 - 1.000 USD', '25,000,000 - 50,000,000 VND',
       '8,4 Tr - 13 Tr VND', '16 Tr - 16 Tr VND', '7,5 Tr - 35 Tr VND',
       '24 Tr - 31,2 Tr VND', '34 Tr - 49 Tr VND', '4,8 Tr - 30 Tr VND',
       '40 Tr - 80 Tr VND', '19 Tr - 25 Tr VND', '5,8 Tr - 6 Tr VND',
       'Trên  1,200 USD', '10,000,000 - 15,000,000 VND',
       '30 Tr - 80 Tr VND', '18 Tr - 21 Tr VND', '9,2 Tr - 15 Tr VND',
       '12,5 Tr - 14,5 Tr VND', '18 Tr - 27 Tr VND', '650 - 2,000 USD',
       '25 Tr - 60 Tr VND', '18 Tr - 34 Tr VND', '40 Tr - 55 Tr VND',
       '50 Tr - 100 Tr VND', '5,8 Tr - 10 Tr VND', '1,2 Tr - 6 Tr VND',
       '6,8 Tr - 9 Tr VND', '1.000 - 1.600 USD', '4 Tr - 15 Tr VND',
       '30 Tr - 70 Tr VND', '17 Tr - 28 Tr VND', '13 Tr - 13,2 Tr VND',
       '7,0 Tr - 10,0 Tr VND', '9,800,000 - 12,000,000 VND',
       '13,000,000 - 30,000,000 VND', '23 Tr - 25 Tr VND',
       '8,6 Tr - 15 Tr VND', '8,5 Tr - 13 Tr VND', '7,5 Tr - 14 Tr VND',
       '8,5 Tr - 9 Tr VND', 'Trên  14,000,000 VND', 'Trên  500 USD',
       '10,5 Tr - 50 Tr VND', '7 Tr - 19 Tr VND', '500,000 - 1 Tr VND',
       '6,5 Tr - 12 Tr VND', 'Trên  2 Tr VND', '18 Tr - 66 Tr VND',
       '5,5 Tr - 6,2 Tr VND', '20 Tr - 60 Tr VND', '6 Tr - 6 Tr VND',
       '18,000,000 - 25,000,000 VND', '1,200 - 1,800 USD',
       '1.500 - 2.000 USD', 'Lên đến  18 Tr VND',
       '7,400,000 - 12,000,000 VND', '13 Tr - 23 Tr VND',
       'Lên đến  22 Tr VND', '7,1 Tr - 11,6 Tr VND',
       '20 Tr - 24,8 Tr VND', '10 Tr - 60 Tr VND', '20 Tr - 100 Tr VND',
       '17 Tr - 32 Tr VND', '22 Tr - 35 Tr VND', '20 Tr - 200 Tr VND',
       '41 Tr - 57,4 Tr VND', '4 Tr - 8 Tr VND', '25 Tr - 38 Tr VND',
       '1,5 Tr - 3 Tr VND', '7,1 Tr - 15 Tr VND', '3 Tr - 50 Tr VND',
       '10,000,000 - 25,000,000 VND', '23 Tr - 33 Tr VND',
       '7,6 Tr - 10 Tr VND', '8,4 Tr - 10,9 Tr VND',
       '10,000,000 - 18,000,000 VND', '6,5 Tr - 15 Tr VND',
       '8,4 Tr - 10 Tr VND', '5,6 Tr - 6,5 Tr VND', 'Trên  4 Tr VND',
       'Trên  13,5 Tr VND', '8,6 Tr - 13 Tr VND', '4 Tr - 20 Tr VND',
       '7,1 Tr - 9,9 Tr VND', '19 Tr - 24 Tr VND', '17 Tr - 17 Tr VND',
       '16 Tr - 17 Tr VND', '7,5 Tr - 8,2 Tr VND', '6 Tr - 18 Tr VND',
       '30 Tr - 55 Tr VND', 'Trên  5 Tr VND', '25 Tr - 37 Tr VND',
       '15 Tr - 16,5 Tr VND', '21 Tr - 25 Tr VND', '1,200 - 2,000 USD',
       '5,2 Tr - 6 Tr VND', '6,5 Tr - 13 Tr VND', '22 Tr - 40 Tr VND',
       '1,000 - 2,500 USD', '7 Tr - 35 Tr VND', '9 Tr - 50 Tr VND',
       '26 Tr - 33 Tr VND', '1,000 - 1,300 USD', '2 Tr - 2 Tr VND',
       '600 - 880 USD', '8,5 Tr - 16 Tr VND', '30 Tr - 42 Tr VND',
       '6,8 Tr - 7,5 Tr VND', '500 - 900 USD', '750 - 900 USD',
       'Lên đến  5 Tr VND', '15 Tr - 24 Tr VND', '7 Tr - 40 Tr VND',
       '6,2 Tr - 7 Tr VND', 'Trên  35 Tr VND', '20 Tr - 29 Tr VND',
       '12 Tr - 50 Tr VND', '16 Tr - 21 Tr VND', '650 - 950 USD',
       'Lên đến  10 Tr VND', '12,0 Tr - 21,6 Tr VND', '12 Tr - 60 Tr VND',
       '3,000 - 5,000 USD', '10,0 Tr - 10,0 Tr VND', '0 - 0 VND',
       '5 Tr - 24 Tr VND', '17,000,000 - 30,000,000 VND',
       '25 Tr - 28 Tr VND', '300 - 900 USD', '2,000 - 3,000 USD',
       'Trên  750 USD', '1,200 - 2,500 USD', '25 Tr - 47 Tr VND',
       'Trên  70 Tr VND', '11 Tr - 45 Tr VND', '31 Tr - 48 Tr VND',
       '16 Tr - 37 Tr VND', '1,500 - 2,000 USD', '11 Tr - 19 Tr VND',
       '13 Tr - 60 Tr VND', '24,4 Tr - 36,6 Tr VND', 'Trên  1,300 USD',
       '600 - 1,200 USD', '15,000,000 - 20,000,000 VND',
       '6 Tr - 25 Tr VND', '15,1 Tr - 17 Tr VND'], dtype=object)

There seems to be some patterns

Try converting VND first

In [6]:
def convert_salary_vnd(salary):
    if 'Trên' in salary:
        # Extract the value after "Trên" and convert it to integer
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * 1000000  # Convert Tr to VND
    elif 'Lên đến' in salary:
        # Extract the value after "Lên đến" and convert it to integer
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * 1000000  # Convert Tr to VND
    elif '-' and 'Tr' in salary:
        # Extract the range values, calculate their average, and convert to integer
        values = re.findall(r'\d+', salary.replace(',', ''))
        values = [int(value) for value in values]
        average_value = np.mean(values)
        return average_value * 1000000  # Convert Tr to VND
    else:
        # For values like "15,000,000 - 35,000,000 VND"
        values = re.findall(r'\d+', salary.replace(',', ''))
        values = [int(value) for value in values]
        if len(values) == 2:
            average_value = np.mean(values)
        else:
            average_value = values[0]
        return average_value

Next USD to VND, I use the exchange rate of 1 USD to 25,000 VND

In [8]:
USD_TO_VND = 25000
def convert_salary_usd(salary):
    # Extract the value after "Trên" and convert it to integer
    if 'Trên' in salary:
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * USD_TO_VND
    # Extract the value after "Lên đến" and convert it to integer
    elif 'Lên đến' in salary:
        value = int(re.search(r'\d+', salary.replace(',', '')).group())
        return value * USD_TO_VND
    # Extract the range values, calculate their average, and convert to integer
    elif '-' and 'Tr' in salary:
        values = re.findall(r'\d+', salary.replace(',', ''))
        values = [int(value) for value in values]
        average_value = np.mean(values)
        return average_value * USD_TO_VND

Combine them

In [9]:
def convert_salary(salary):
    if 'Cạnh tranh' in salary:
        return None
    elif 'VND' in salary:
        return convert_salary_vnd(salary)
    elif 'USD' in salary:
        return convert_salary_usd(salary)

In [10]:
df['salary'] = df['salary'].apply(convert_salary)
df['salary']

0        13000000.0
1               NaN
2        12500000.0
3               NaN
4               NaN
            ...
14902    13500000.0
14903    17500000.0
14904    22500000.0
14905           NaN
14906           NaN
Name: salary, Length: 14907, dtype: float64

Looks good, let's move on to experience

### 2. Experience

In [11]:
df['experience'].unique()

array(['2 - 5 Năm', None, '1 - 2 Năm', '5 - 20 Năm', 'Trên 4 Năm',
       'Lên đến 1 Năm', '2 - 3 Năm', 'Lên đến 3 Năm', '1 - 3 Năm',
       '2 - 4 Năm', 'Trên 1 Năm', '5 - 6 Năm', 'Trên 3 Năm', 'Trên 2 Năm',
       '1 - 5 Năm', '5 - 7 Năm', 'Chưa có kinh nghiệm', '3 - 5 Năm',
       '3 - 10 Năm', '5 - 15 Năm', '2 Năm', '3 - 7 Năm', '3 - 4 Năm',
       '2 - 10 Năm', '4 - 6 Năm', '0 - 0 Năm', '5 - 10 Năm', '5 Năm',
       'Trên 5 Năm', 'Trên 6 Năm', '3 - 6 Năm', '2 - 7 Năm',
       'Lên đến 5 Năm', '1 - 4 Năm', '1 - 10 Năm', '3 Năm', '7 - 8 Năm',
       '3 - 30 Năm', '4 - 5 Năm', 'Trên 7 Năm', '8 - 15 Năm',
       'Trên 10 Năm', 'Trên 8 Năm', '4 - 10 Năm', '5 - 8 Năm',
       '7 - 15 Năm', 'Lên đến 4 Năm', '3 - 15 Năm', '7 - 20 Năm',
       '5 - 14 Năm', '10 - 20 Năm', '6 - 10 Năm', '1 - 12 Năm',
       '7 - 10 Năm', '10 - 18 Năm', 'Lên đến 2 Năm', '4 - 15 Năm',
       '3 - 8 Năm', '10 - 15 Năm', '3 - 13 Năm', '1 - 15 Năm',
       '2 - 8 Năm', '2 - 20 Năm', '5 - 35 Năm', '8 - 10 Năm', '1 - 8 Năm',
       '2 - 15 Năm', '1 Năm', '4 - 7 Năm', '6 - 8 Năm', '4 - 8 Năm',
       'Trên 12 Năm', '1 - 6 Năm', 'Trên 9 Năm', 'Lên đến 15 Năm',
       '15 - 20 Năm', '4 - 20 Năm', '3 - 20 Năm', '2 - 6 Năm',
       'Lên đến 8 Năm', '1 - 7 Năm', '2 - 30 Năm', '6 - 7 Năm',
       '8 - 20 Năm', '7 - 9 Năm', '1 - 20 Năm', '5 - 12 Năm',
       '10 - 25 Năm', '5 - 30 Năm', '13 - 10 Năm', '2 - 12 Năm',
       '3 - 12 Năm', '10 - 12 Năm', '4 - 9 Năm', '3 - 9 Năm',
       'Lên đến 10 Năm'], dtype=object)

They are ranged, i want to convert them to job level name (Entry-Level, Mid-Level, Senior-Level, Management-Level, Executive-Level, C-Suite)

In [12]:
def job_level_classify(year):
    if year <= 2:
        return "Entry-Level"
    elif year <= 5:
        return "Mid-Level"
    elif year <= 10:
        return "Senior-Level"
    elif year <= 15:
        return "Management-Level"
    elif year <= 20:
        return "Executive-Level"
    else:
        return "C-Suite"

In [13]:
def experience_to_single_job_level(experience):
    if experience is None:
        return None
    # No experince => Entry-level
    elif "Chưa có kinh nghiệm" in experience:
        return "Entry-Level"
    # If there is only 1 year in string, use that year
    elif "Trên" in experience:
        year = int(re.search(r'\d+', experience).group())
        return job_level_classify(year)
    elif "Lên đến" in experience:
        year = int(re.search(r'\d+', experience).group())
        return job_level_classify(year)
    # Else, use the max integer
    else:
        try:
            years = re.findall(r'\d+', experience)
            max_exp = int(years[1])
            return job_level_classify(max_exp)
        except:
            return None

In [14]:
df['job_levels'] = df['experience'].apply(experience_to_single_job_level)
df[['experience', 'job_levels']]

       experience       job_levels
0       2 - 5 Năm        Mid-Level
1            None             None
2       1 - 2 Năm      Entry-Level
3      5 - 20 Năm  Executive-Level
4      Trên 4 Năm        Mid-Level
...           ...              ...
14902  Trên 1 Năm      Entry-Level
14903  Trên 2 Năm      Entry-Level
14904   3 - 5 Năm        Mid-Level
14905   6 - 7 Năm     Senior-Level
14906  Trên 1 Năm      Entry-Level

[14907 rows x 2 columns]

### 3. Job existence duration

In [16]:
df[['post_date', 'due_date']]

        post_date    due_date
0      1712854800  1715360400
1      1712854800  1715360400
1      1712854800  1715360400
1      1712854800  1715360400
2      1712854800  1715360400
...           ...         ...
14905  1714323600  1716829200
14905  1714323600  1716829200
14906  1714323600  1716829200
14906  1714323600  1716829200
14906  1714323600  1716829200

[41500 rows x 2 columns]

In [17]:
df['post_date'] = pd.to_datetime(df['post_date'], unit='s')
df['due_date'] = pd.to_datetime(df['due_date'], unit='s')

In [19]:
df['job_duration'] = df['due_date'] - df['post_date']

In [21]:
df['job_duration'].unique()

<TimedeltaArray>
[ '29 days',  '49 days',  '59 days',  '15 days',  '48 days', '-12 days',
   '9 days',   '3 days', '-21 days',  '-2 days',
 ...
 '148 days',  '57 days',  '72 days',  '88 days',  '69 days', '-16 days',
  '89 days',  '65 days', '120 days', '121 days']
Length: 140, dtype: timedelta64[ns]

### The visualiztion tool cannot handle list as value, let's explode them

In [15]:
df = df.explode('location')
df = df.explode('en_fields')

### Write to file

In [22]:
preprocess_df = df[['job_url', 'company_url', 'location', 'post_date', 'salary', 'job_levels', 'job_duration', 'en_fields']]
csv_file_path = 'visualization_preprocessed.csv'
preprocess_df.to_csv(csv_file_path, index=False)